<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="layout/layout :: head">
</head>

<body>
	<header th:replace="layout/layout :: header"></header>
	<aside th:replace="layout/layout :: sidebar"></aside>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>Nuevo Usuario</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/saludYa/home">Home</a></li>
					<li class="breadcrumb-item active">Dashboard</li>
				</ol>
			</nav>
		</div>
		<section class="section dashboard">
			<div class="row">
				<div align="center">
		<form action="#" th:action="@{/doctores/guardar}" th:object="${doctor}" method="post">
			<table border="0" cellpadding="10">
				
				<tr>
					<td><label class="form-label">Nombre:</label></td>
					<td><input class="form-control" type="text" th:field="*{nombre}" /></td>
				</tr>
				
				<tr>
					<td><label class="form-label">Apellido:</label></td>
					<td><input class="form-control" type="text" th:field="*{apellido}" /></td>
				</tr>
				
				<tr>
					<td><label class="form-label">Centro Medico:</label></td></td>
					<td>
					<select class="form-control" id="idEstudiante" th:field="*{centroMedico.idCentroMedico}">
					<option th:each="centroMedico : ${listaCentrosMedicos}"
						th:value="${centroMedico.idCentroMedico}" th:text="${centroMedico.nombre}">
					</option>
					</select>
				</td>
					
				</tr>
				
				<tr>
					<td><label class="form-label">Especialidad:</label></td>
					<td><select class="form-control" id="idEstudiante" th:field="*{especialidad.idEspecialidad}">
					<option th:each="especialidad : ${listaEspecialidades}"
						th:value="${especialidad.idEspecialidad}" th:text="${especialidad.nombre}">
					</option>
				</select></td>
					
				</tr>
				
				
				<tr>
					<td colspan="2"><button class="btn btn-success"type="submit"> Guardar </button></td>
				</tr>		
				<tr> <td ><a class="btn btn-info" th:href="@{/doctores/listar}">Cancelar</a></td> </tr>
			</table>
		</form>
</div>
			</div>
		</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>