<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="layout/layout :: head">
</head>

<body>
	<header th:replace="layout/layout :: header"></header>
	<aside th:replace="layout/layout :: sidebar"></aside>
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>LISTA DE USUARIOS</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/saludYa/home">Home</a></li>
					<li class="breadcrumb-item active">Usuarios</li>
				</ol>
			</nav>
		</div>
		<section class="section dashboard">
			<div class="row">
				<div class="container">
					<a class="btn btn-success float-end" th:href="@{/usuarios/agregar}">NUEVO</a>
					<br>
					</br>
			        <div class="row">            
			            <table class="table table-striped table-bordered table-condensed table-hover" id="tablaUsuarios">
			                <thead>
			                    <tr>
									<th class="text-center">Acciones</th>
			                        <th>Id</th>
									<th>Nombre</th>
									<th>Apellido</th>
									<th>Correo</th>
									<th>Contra</th>
									
			                    </tr>
			                </thead>
			                <tbody>
							<tr th:each="usuarios : ${listaUsuarios}">
								<td class="text-center"><a class="btn btn-warning" th:href="@{/usuarios/editar/{id}(id=${usuarios.idUsuario})}">Editar</a>
								&nbsp;&nbsp;&nbsp;
								<a class="btn btn-danger" th:href="@{/usuarios/eliminar/{id}(id=${usuarios.idUsuario})}">Eliminar</a>
								</td>
								<td th:text = "${usuarios.idUsuario}">Id</td> 
								<td th:text = "${usuarios.nombre}">Nombre</td>
								<td th:text = "${usuarios.apellido}">Apellido</td>  
								<td th:text = "${usuarios.correo}">Correo</td> 
								<td th:text = "${usuarios.contrasena}">Contra</td>  
								
							</tr>
						</tbody>
			            </table>
			        </div>
			      
</div>
			</div>
		</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>