<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="layout/layout :: head">
    <style>
        .password-toggle {
            margin-top: 10px;
            cursor: pointer;
            transition: color 0.3s;
        }
        .password-toggle:hover {
            color: blue;
        }
        .error-message {
            color: red;
            margin-top: 5px;
            opacity: 0;
            transition: opacity 0.3s;
        }
        .error-message.show {
            opacity: 1;
        }

        /* Estilo adicional para animación */
        .fade-in {
            opacity: 0;
            animation: fade-in-animation 0.5s forwards;
        }

        /* Definición de la animación */
        @keyframes fade-in-animation {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    </style>
</head>
<body>
<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center py-4">
                            <div class="logo d-flex align-items-center w-auto">
                                <img src="https://static.vecteezy.com/system/resources/previews/001/977/354/original/smartphone-with-delivery-worker-using-face-mask-in-motorcycle-free-vector.jpg"
                                     style="width: 100%; height: auto;" alt="Logo de RapidWork"/> <span class="d-none d-lg-block">RapidWork</span>
                            </div>
                        </div>
                        <div class="card mb-3 fade-in"> <!-- Agregamos la clase "fade-in" al elemento card -->
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Iniciar Sesión</h5>
                                    <p class="text-center small">Ingrese su usuario y contraseña</p>
                                </div>
                                <form id="formulario1" class="row g-3 needs-validation" th:action="@{/login}" method="post">
                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">Usuario</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            <input type="text" name="username" class="form-control" id="yourUsername" required>
                                            <div class="invalid-feedback">Por favor ingrese su usuario.</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Contraseña</label>
                                        <div class="input-group">
                                            <input type="password" name="password" class="form-control" id="yourPassword" required>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary password-toggle" type="button">
                                                    <i class="bi bi-eye-slash"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="invalid-feedback">Por favor ingrese su contraseña.</div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                                            <label class="form-check-label" for="rememberMe">Recordarme</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Iniciar Sesión</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">¿No tiene una cuenta? <a href="pages-register.html">¡Regístrese ahora!</a></p>
                                    </div>
                                    <div class="col-12 error-message">
                                        <p th:if="${param.error}" class="text-danger">Credenciales inválidas.</p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<footer th:replace="layout/layout :: footer"></footer>
<script>
    window.addEventListener('DOMContentLoaded', function() {
        var passwordToggle = document.querySelector('.password-toggle');
        var passwordInput = document.getElementById('yourPassword');
        var errorMessage = document.querySelector('.error-message');

        passwordToggle.addEventListener('click', function() {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                passwordToggle.innerHTML = '<i class="bi bi-eye"></i>';
            } else {
                passwordInput.type = 'password';
                passwordToggle.innerHTML = '<i class="bi bi-eye-slash"></i>';
            }
        });

        document.getElementById('formulario1').addEventListener('submit', function(e) {
            var usernameInput = document.getElementById('yourUsername');
            var passwordInput = document.getElementById('yourPassword');
            var rememberMeCheckbox = document.getElementById('rememberMe');

            if (!usernameInput.value || !passwordInput.value) {
                e.preventDefault();
                errorMessage.classList.add('show');
                // Agregar animación de sacudida al mensaje de error
                errorMessage.classList.add('shake-animation');
                // Eliminar la animación después de 0.5 segundos
                setTimeout(function() {
                    errorMessage.classList.remove('shake-animation');
                }, 500);
            } else {
                errorMessage.classList.remove('show');
            }
        });
    });
</script>
</body>
</html>
